<!doctype html>
<html lang="en">

  <head>
    <title>sda-front</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-resource.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-chart.js/1.1.1/angular-chart.min.js"></script>

    <script src="js/sda.js"></script>
    <link rel="stylesheet" href="css/index.css">

  </head>

  <body>
    <div class="container" ng-app="app-sda">
      <div class="row" ng-controller="controlle-sda">

        <div class="col-md-6 col-md-offset-3 panel">
          <h1 class="table-tittle"> List of Clients </h1>
          <table>
            <tr>
              <th class="tittle-name">Name</th>
              <th class="tittle-userid">userid</th>
              <th class="tittle-panels">Panels</th>
            </tr>
            <tr ng-repeat="client in clients">
              <td class="content-name" ng-click="selectClient(client)"> {{client.name}}</td>
              <td class="content-userid">{{client.userid}}</td>
              <td class="content-panels">{{client.panels.length}}</td>
            </tr>
          </table>
        </div>

        <div class="col-md-6 col-md-offset-3 panel" ng-show='panel_list_show'>
          <h1 class="table-tittle"> List of Panels for {{selected_client.name}} </h1>
          <table>
            <tr>
              <th class="tittle-panelid">Panel ID</th>
              <th class="tittle-location">Location</th>
            </tr>
            <tr ng-repeat="panel in panels">
              <td class="content-panelid" ng-click="selectPanel(panel)"> {{panel.panelid}}</td>
              <td class="content-location">{{panel.location}}</td>
            </tr>
          </table>
        </div>


        <div ng-show='read_list_show'>
          <div class="col-md-6 col-md-offset-3 panel">
            <canvas
              id="line"
              class="chart chart-line"
              chart-data="gr_data"
              chart-colors="gr_color"
              chart-labels="gr_labels"
              chart-series="gr_series"
              chart-options="gr_options"
              chart-dataset-override="datasetOverride" >
            </canvas>
          </div>

          <div class="col-md-6 col-md-offset-3 panel">
            <table>
              <tr>
                <th class="tittle-panelid">Time</th>
                <th class="tittle-temperature">Temp</th>
                <th class="tittle-network">Net</th>
                <th class="tittle-panel">Panel</th>
                <th class="tittle-used">Used</th>

              </tr>
              <tr ng-repeat="read in reads">
                <td class="content-time">{{read.time | date : "short" }}</td>
                <td class="content-temperature">{{read.temperature | number:2 }}</td>
                <td class="content-network">{{read.current.network | number:2 }}</td>
                <td class="content-panel">{{read.current.panel | number:2 }}</td>
                <td class="content-used">{{read.current.used | number:2 }}</td>
              </tr>
            </table>
          </div>

        </div>

      </div>
    </div>
  </body>

</html>
